h3 {
  color: rgba(255,255,255,0.7);
}
h1{
  color: rgba(255,255,255,0.9);
  font-family: cursive;
  text-decoration: underline;
}
form {
  padding: 2rem;
}

.container-background {
  background-color: rgba(33, 37, 41, 0.9);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 2rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.button-group{
  display: flex;
  gap: 2rem;
}
