<div class="row flex m-4 justify-content-center">
  <div class="col-sm-8">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button *ngFor="let recipe of recipes, let i = index" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide-to="{{i}}" [class]="currentIndex === i?'active':''" aria-current="true"
                (click)="currentIndex= i"
                aria-label="Slide {{i}}"></button>
      </div>
      <div class="carousel-inner">
        <div
          *ngFor="let recipe of recipes, let i = index"
          [class]="currentIndex === i ?'carousel-item active':'carousel-item'" data-bs-interval="10000">
          <a [routerLink]="[recipe.id]">
            <img [src]="recipe.image" class="d-block w-100 img-responsive" [alt]="recipe.title">
            <div class="carousel-caption d-none d-md-block">
              <div class="text-box">
                <h5>{{recipe.title}}</h5>
                <p>Zubereitungszeit: {{recipe.readyInMinutes}} Min</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <button (click)="setPrev()" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button (click)="setNext()" class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
