<div class="row">
  <div class="col-xs-12">
    <div
      *ngFor="let recipe of recipes"
      class="list"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipe.title}}</h4>
        <p class="list-group-item-text">{{recipe.readyInMinutes}}</p>
      </div>
      <span class="pull-right">
        <img style="max-height: 50px"

             [src]="recipe.image"
             alt="{{recipe.title}}"
             class="img-responsive">
      </span>
    </div>
  </div>
</div>
