button{
  color: black;
  width: 150px;
  height: 40px;
  background-color: #d5d535;
  border-radius: 6px;
  border: 1px black solid;
}
button:hover{
  background-color: rgba(213, 213, 53, 0.87);
}
button:disabled,
button[disabled]{
  background-color: rgb(157, 157, 126);
}
